*{box-sizing: border-box;}
body{
    background-color: bisque;
    
}
h2{background-color: antiquewhite;
padding: 20px 25px 0px 0px;
font-style: italic;
font-size: 25px;
border: 3px solid sandybrown;
border-radius: 2%;
margin-top:15px;
margin-bottom: 5px;}
p{
    font-family: Palatino;
    margin-left:30px;
    font-size: 20px;
    margin-top: 0px;
    text-align: justify;
}
h1{
    text-align: center;
    font-size: 35px;
}
a{
    margin:225px;
    color:saddlebrown;
    text-decoration: none;
}
a:hover{
    color: gold;
}
article{
    max-width: 80%;
    margin: auto
}
.fogalomtar{
    border-left: 5px solid sandybrown;
}
img{
    max-width: 30%;
}
.bekezdesek{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 600px) {

    img {
        width: 100%;
        grid-template-columns: 1fr;
    }

}