* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
}

h1 {
  text-align: center;
  font-size: 35px;
}
article {
  max-width: 80%;
  margin: auto;
}
img {
  max-width: 100%;
}
.esemeny {
  margin-bottom: 20px;
}
.elrendezes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
nav {
  margin-bottom: 40px;
}
@media screen and (max-width: 600px) {
  .elrendezes {
    grid-template-columns: 1fr;
  }
  img {
    margin-bottom: 5px;
  }
}
